/* colpa di gabriele "per debuggare il css" **detto con accento pugliese*/
/* * {
  background-color: rgba(0, 145, 0, 0.08) !important;
  outline: black dashed 1px !important;
} */

html {
  font-family: "Inter";
  font-size: 1rem;
  background-color: #2d3648;
}

body {
  background-color: #e2eeff;
}